.editDelete {
    padding: 10px 20px 10px 20px;
    
}

.editDelete_button {
    position: fixed;
    right: 10px;
    top: 10px;
    border: none;
    padding: 9px 15px 9px 15px;
    margin: 5px;
    border-radius: 10px;
    background-color: #03A9F4;
    color: white;
    z-index: 2;
}

.editDelete_button:hover {
    background-color: #0288D1;
}


.editDelete h2 {
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 10px;
    border-bottom: 3px solid #B3E5FC;
    margin-bottom: 25px;
}

.adminItemEdit {
    margin-left: 10px;
}

.adminItemEdit_buttons {
    display:flex;
    margin-left: auto;
    margin-right: 120px;
}

.adminItemEdit_buttons button{
    margin: 0px 10px 9px 10px;
    width: 100px;
}

.adminItemEdit_buttons_delete {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 53px;
}

.adminItemEdit_buttons_delete button{
    background-color: rgb(255, 72, 72);
    padding: 10px;
    border-radius: 20px;
    margin: 0px 40px 0px 40px;
    color: white;
    border: none;
    width: 100px;
}
