#user-main-container {
  background-color: #B3E5FC;
  padding: 20px;
}
#user-items-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin: 50px 20px;
}

#user-items-page-header {
  display: flex;
}

#user-page-title {
  width: 70%;
  margin: auto;
  text-align: center;
  padding: 10px;
  border-bottom: 3px solid white;
  margin-bottom: 25px;
}
#user-page-message {
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 1.2em;
}

#cart-icon {
  justify-self: flex-end;
  transition: transform ease-in-out .2s;
}

#cart-icon:hover {
  cursor: pointer;
  transform: scale(1.05);
}

#cart-link {
  color: black;
}

#cart-count {
  margin-left: 10px;
  height: 4vh;
}
@media Screen and (max-width: 970px) {
  #user-items-container {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 50px 20px;
  }
}
@media Screen and (max-width: 723px) {
  #user-items-container {
    display: grid;
    grid-template-columns: 100%;
    margin: 50px 20px;
  }
}
@media Screen and (max-width: 505px) {
  #main-user-filter {
    padding-top: 10px!important;
    width: 100%!important;
  }
}
@media Screen and (max-width: 400px) {
  #main-user-cart-header{
    width: 100%;
    display: flex!important;
    flex-direction: column!important;
  }
  #main-user-cart-label {
    display: flex;
    justify-content: center;
  }
}